<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Drink Maker!</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>

    <div id="beverage-maker" class="container" v-show=" !processing " style="display: none;">

      <h1>Drink Tutor</h1>

      <div class="container">
        <div class="row">

          <div class="col s12">

            <div class="row" v-if=" formConfig ">

              <div class="col s12">
                <h5>Start</h5>
                <hr />
              </div>

              <div class="col s6 m4 l2">
                <br />
                <label class="label">Drink</label>
                <select class="browser-default" v-model="settings.drink">
                  <option value="">Select</option>
                  <option v-for="(value, key) in formConfig.drinkOptions" v-bind:value="key">
                    {{ value }}
                  </option>
                </select>
              </div>

              <div class="col s6 m4 l2" v-if=" settings.drink ">
                <br />
                <label class="label">Total Cup(s)</label>
                <select class="browser-default" v-model="settings.totalCups">
                  <option value="">Select</option>
                  <option v-for="num in [1,2,3,4,5,6,7,8,9,10]" v-bind:value="num">
                    {{ num }}
                  </option>
                </select>
              </div>

              <div class="col s6 m4 l2" v-if=" settings.drink ">
                <br />
                <label class="label">Cup Size</label>
                <select class="browser-default" v-model="settings.cupSize">
                  <option value="">Select</option>
                  <option v-for="num in [200,300,400]" v-bind:value="num">
                    {{ num }}ml
                  </option>
                </select>
              </div>

              <div class="col s6 m4 l2" v-if=" settings.drink ">
                <br />
                <label class="label">Ice?</label>
                <select class="browser-default" v-model="settings.ice">
                  <option value="">Select</option>
                  <option v-for="(value, key) in formConfig.iceOptions" v-bind:value="key">
                    {{ value }}
                  </option>
                </select>
              </div>

              <div class="col s6 m4 l2" v-if=" settings.drink ">
                <br />
                <label class="label">Milk</label>
                <select class="browser-default" v-model="settings.milk">
                  <option value="">Select</option>
                  <option v-for="(value, key) in formConfig.milkOptions" v-bind:value="key">
                    {{ value }}
                  </option>
                </select>
              </div>

              <div class="col s6 m4 l2" v-if=" settings.drink ">
                <br />
                <label class="label">Sugar</label>
                <select class="browser-default" v-model="settings.sugar">
                  <option value="">Select</option>
                  <option v-for="(value, key) in formConfig.sugarOptions" v-bind:value="key">
                    {{ value }}
                  </option>
                </select>
              </div>

              <div class="col s6 m4 l2" v-if=" settings.drink == 'tea' ">
                <br />
                <label class="label">Ginger</label>
                <select class="browser-default" v-model="settings.ginger">
                  <option value="">Select</option>
                  <option v-for="(value, key) in formConfig.gingerOptions" v-bind:value="key">
                    {{ value }}
                  </option>
                </select>
              </div>

              <div class="col s12">
                <br />
                <a class="waves-effect waves-light btn btn-small"><i class="fas fa-flask"></i>Make</a>
              </div>

            </div>          
          </div>

          <div class="col s12 m6">

            <h5>Ingredients:</h5>

            <hr />

            water: {{ getWaterInMiliLitre }}ml <br />
            Liquid: {{ effectiveBeverageSizePerCup }}ml <br />
            Quantity in %: {{beverageQuantityPerCupInPercentage}}% - {{ totalQuantity }} ml

            <br />

            <ul class="collection">
              <li class="collection-item" v-for=" (i, k) in ingredientsQuantity " v-if=" i.quantityTotal "><span style="font-weight: bold;">{{ k }}:</span> {{ i.quantityTotal }} {{ i.unit }}, {{ i.mlTotal }}ml</li>
            </ul>

            <br />

            <div class="columns">
              <div class="column" v-for=" cup in settings.totalCups ">
                <div class="cup">
                  <div class="cup-content">

                    <div class="cup-beverage" :style="{ height: beverageQuantityPerCupInPercentage + '%', opacity: ['yes','less'].indexOf(settings.ice) > -1 ? 0.7 : 1}">
                      <div v-if=" settings.drink == 'tea' " style="background: #ffb467; height: 100%;"></div>
                      <div v-if=" settings.drink == 'coffee' " style="background: #85695d; height: 100%;"></div>
                    </div>

                    <div class="ice" v-if=" ['yes','less'].indexOf(settings.ice) > -1 ">
                      <div class="cube-container" v-if=" ['yes'].indexOf(settings.ice) > -1 " style="transform: scale(0.3); position: absolute; left: 5px; bottom: 55px;"><div class="cube"><div><div></div><div></div><div></div><div></div><div></div><div></div></div></div></div>
                      <div class="cube-container" v-if=" ['yes'].indexOf(settings.ice) > -1 " style="transform: scale(0.3); position: absolute; left: 35px; bottom: 55px;"><div class="cube"><div><div></div><div></div><div></div><div></div><div></div><div></div></div></div></div>
                      <div class="cube-container" v-if=" ['yes'].indexOf(settings.ice) > -1 " style="transform: scale(0.3); position: absolute; left: 65px; bottom: 55px;"><div class="cube"><div><div></div><div></div><div></div><div></div><div></div><div></div></div></div></div>
                      <div class="cube-container" style="transform: scale(0.3); position: absolute; left: -10px; bottom: 34px;"><div class="cube"><div><div></div><div></div><div></div><div></div><div></div><div></div></div></div></div>
                      <div class="cube-container" style="transform: scale(0.3); position: absolute; left: 20px; bottom: 30px;"><div class="cube"><div><div></div><div></div><div></div><div></div><div></div><div></div></div></div></div>
                      <div class="cube-container" style="transform: scale(0.3); position: absolute; left: 50px; bottom: 32px;"><div class="cube"><div><div></div><div></div><div></div><div></div><div></div><div></div></div></div></div>
                      <div class="cube-container" style="transform: scale(0.3); position: absolute; left: 70px; bottom: 38px;"><div class="cube"><div><div></div><div></div><div></div><div></div><div></div><div></div></div></div></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m6">
            <h5>Making {{ settings.drink }}</h5>
            <hr />
            <ul class="collection">
              <li class="collection-item" v-for=" step in steps ">
                {{ step }}
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        new Vue({
            el: '#beverage-maker',
            data: {
              processing: true,
              steps: [],
              settings: {
                drink: "tea",
                milk: "yes",
                sugar: "yes",
                ice: "no",
                ginger: "no",
                totalCups: 1,
                cupSize: 200
              },
              baseCupSize: 100,
              evaporationProportion: 0.1,
              ingredientsList: [
                'water',
                'milk',
                'ice',
                'sugar',
                'ginger'
              ],
              formConfig: null
            },
            mounted: function () {
              this.processing = false;
              this.formConfig = this.getFormConfig();
              this.makeTea();
            },
            computed: {
              effectiveBeverageSizePerCup: function() {
                return this.toFixedIfNecessary(this.settings.cupSize - this.iceQuantityInMiliLitre, 2);
              },
              iceQuantityInMiliLitre: function() {
                let ice = 0;
                switch ( this.settings.ice ) {
                  case 'yes':
                    ice = 0.6;
                    break;
                  case 'no':
                    ice = 0;
                    break;
                  case 'less':
                    ice = 0.4;
                    break;
                  default:
                    ice = 0;
                    break;
                };
                let iceQuantityInMiliLitre = ice * this.settings.cupSize;
                return this.toFixedIfNecessary(iceQuantityInMiliLitre, 2);
              },
              beverageQuantityPerCupInPercentage: function() {
                return this.toFixedIfNecessary(this.totalQuantityPerCup * 100 / this.settings.cupSize, 2);
              },
              ingredientsQuantity: function() {
                return this.getIngredientQuantities(this.settings);
              },
              totalQuantityPerCup: function() {
                return this.toFixedIfNecessary(this.getTotalQuantityPerCup(), 2);
              },
              totalQuantity: function() {
                return this.toFixedIfNecessary(this.getTotalQuantityPerCup() * this.settings.totalCups, 2);
              },
              getWaterInMiliLitre: function() {
                let cupSizeIncludingEvaporation = this.settings.cupSize * (1 + this.evaporationProportion);
                let waterPerCup = cupSizeIncludingEvaporation - this.totalQuantityPerCup;
                return this.toFixedIfNecessary(waterPerCup * this.settings.totalCups, 2);
              },
            },
            methods: {
              getFormConfig: function() {
                return {
                  drinkOptions: {
                    'tea': "Tea",
                    'coffee': "Coffee"
                  },
                  iceOptions: {
                    'yes': "Yes",
                    'no': "No",
                    'less': "Less",
                  },
                  milkOptions: {
                    'yes': "Yes",
                    'no': "No",
                    'less': "Less",
                    'more': "More"
                  },
                  sugarOptions: {
                    'yes': "Normal",
                    'no': "No",
                    'less': "Less"
                  },
                  gingerOptions: {
                    'yes': "Normal",
                    'no': "No",
                    'less': "Less"
                  }
                };
              },
              getIngredientQuantities: function( requirements ) {
                let ingredients = this.getIngredientQuantitiesPerCup( requirements );

                for ( let ingredientName in ingredients ) {
                  ingredients[ingredientName]['ml'] = this.getQuantityInMiliLitre(ingredients[ingredientName], ingredientName);
                  ingredients[ingredientName]['mlTotal'] = this.toFixedIfNecessary(ingredients[ingredientName]['ml'] * this.settings.totalCups,2);;
                  ingredients[ingredientName]['quantityTotal'] = this.toFixedIfNecessary(ingredients[ingredientName]['quantity'] * this.settings.totalCups,2);
                }

                return ingredients;

              },
              getIngredientQuantitiesPerCup: function( requirements ) {

                var ingredients = {
                  'sugar': {
                    unit: 'spoon',
                    quantity: 0
                  },
                  'ginger': {
                    unit: 'spoon',
                    quantity: 0
                  },
                  'ice': {
                    unit: 'cup',
                    quantity: 0
                  },
                  'teaLeaf': {
                    unit: 'spoon',
                    quantity: 0
                  },
                  'coffeePowder': {
                    unit: 'spoon',
                    quantity: 0
                  },
                  'milk': {
                    unit: 'cup',
                    quantity: 0
                  }
                };

                switch ( requirements.sugar ) {
                  case 'yes':
                    ingredients.sugar.quantity = 1;
                    break;
                  case 'no':
                    ingredients.sugar.quantity = 0;
                    break;
                  case 'less':
                    ingredients.sugar.quantity = 0.5;
                    break;
                  default:
                    ingredients.sugar.quantity = 1;
                    break;
                }

                switch ( requirements.ice ) {
                  case 'yes':
                    ingredients.ice.quantity = 0.6;
                    break;
                  case 'no':
                    ingredients.ice.quantity = 0;
                    break;
                  case 'less':
                    ingredients.ice.quantity = 0.4;
                    break;
                  default:
                    ingredients.ice.quantity = 0;
                    break;
                }

                switch ( requirements.milk ) {
                  case 'yes':
                    ingredients.milk.quantity = 0.2;
                    break;
                  case 'no':
                    ingredients.milk.quantity = 0;
                    break;
                  case 'less':
                    ingredients.milk.quantity = 0.1;
                    break;
                  case 'more':
                    ingredients.milk.quantity = 0.3;
                    break;
                  default:
                    ingredients.milk.quantity = 0;
                    break;
                }

                if ( requirements.drink == 'tea' ) {

                  ingredients.teaLeaf.quantity = 1;

                  switch ( requirements.ginger ) {
                    case 'yes':
                      ingredients.ginger.quantity = 1;
                      break;
                    case 'no':
                      ingredients.ginger.quantity = 0;
                      break;
                    case 'less':
                      ingredients.ginger.quantity = 0.5;
                      break;
                    default:
                      ingredients.ginger.quantity = 1;
                      break;
                  }

                } else if ( requirements.drink == 'coffee' ) {

                  ingredients.coffeePowder.quantity = 1;

                }

                for ( let ingredientName in ingredients ) {
                  let quantityMultiplier = (ingredientName == 'ice') ? 1 : (this.effectiveBeverageSizePerCup / this.baseCupSize);
                  ingredients[ingredientName].quantity = ingredients[ingredientName].quantity * quantityMultiplier;
                }

                return ingredients;
              },
              getQuantityInMiliLitre: function( ingredientConfig, ingredientName ) {
                var unitToMiliLitreMapping = {
                  spoon: 5,
                  gm: 2,
                  cup: ingredientName == 'ice' ? this.settings.cupSize : this.effectiveBeverageSizePerCup
                };
                let multiplier = unitToMiliLitreMapping[ingredientConfig.unit];
                let ingredientQuantity = ingredientConfig.quantity * multiplier;
                return ingredientQuantity;
              },
              getTotalQuantityPerCup: function() {

                let ingredientsQuantities = this.ingredientsQuantity;
                let totalQuantity = 0;

                for ( let ingredient in ingredientsQuantities ) {
                  totalQuantity += ingredientsQuantities[ingredient]['ml'];
                }

                return totalQuantity;

              },
              addStep: function( str ) {
                this.steps.push( str );
              },
              makeTea: function () {

                this.addStep("Making Tea");

                var defaults = this.ingredientsQuantity;

                return;

                this.addStep("Assume 1gm = 2ml");
                this.addStep("Assume 1spoon = 20ml");

                var teaPot = this.pot();
                var gasStove = this.gas();
                var waterPercentage = 0.6;
                var icePercentage = 0;
                var milkPercentage = 0.2;
                var sugarQuantity = 1; // teaspoon
                var gingerQuantiy = 10; // gram
                var ingredientsPercentage = 0.2;

                if ( defaults.ingredients.ice === "yes" ) {
                  if ( defaults.type == "black" ) {
                    icePercentage = 0.5;
                    waterPercentage = 0.3;
                    milkPercentage = 0;
                  } else {
                    icePercentage = 0.4;
                    waterPercentage = 0.2;
                  }
                } else {
                  if ( defaults.type == "black" ) {
                    waterPercentage = 0.8;
                    milkPercentage = 0;
                  } else {
                    waterPercentage = 0.6;
                  }
                }

                if ( defaults.ingredients.sugar === "less" ) {
                  sugarQuantity = 0.5;
                  waterPercentage += 0.05;
                } else if ( defaults.ingredients.sugar === "no" ) {
                  sugarQuantity = 0;
                  waterPercentage += 0.1;
                }

                if ( defaults.ingredients.ginger === "less" ) {
                  gingerQuantiy = 5;
                  waterPercentage += 0.05;
                } else if ( defaults.ingredients.ginger === "no" ) {
                  gingerQuantiy = 0;
                  waterPercentage += 0.1;
                }

                // Fix all quantities to maximum of 2 decimal points
                waterPercentage = this.toFixedIfNecessary(waterPercentage, 2);
                icePercentage = this.toFixedIfNecessary(icePercentage, 2);
                milkPercentage = this.toFixedIfNecessary(milkPercentage, 2);
                sugarQuantity = this.toFixedIfNecessary(sugarQuantity, 2);
                gingerQuantiy = this.toFixedIfNecessary(gingerQuantiy, 2);
                ingredientsPercentage = this.toFixedIfNecessary(ingredientsPercentage, 2);

                var waterQuantity = (defaults.cups * defaults.cupSize) * waterPercentage;
                var milkQuantity = (defaults.cups * defaults.cupSize) * milkPercentage;

                teaPot.add("water", waterQuantity, "ml");
                teaPot.putOnGas();

                gasStove.on();

                if ( sugarQuantity ) teaPot.add("sugar", sugarQuantity, "spoon");
                if ( gingerQuantiy ) teaPot.add("ginger", gingerQuantiy, "gram");

                if ( !milkPercentage ) teaPot.boil(15, "minutes");
                if ( milkPercentage ) {
                  teaPot.boil(10, "minutes");
                  teaPot.add("milk", milkQuantity, "ml");
                  gasStove.reduceFlame();
                  teaPot.boil(10, "minutes");
                }

                gasStove.off();
                teaPot.removeFromGas();
                teaPot.pourTea();

              },
              toFixedIfNecessary: function ( value, dp ){
                return +parseFloat(value).toFixed( dp );
              },
              pot: function  () {
                var _this = this;
                return {
                  add: function ( ingredient, quantity, unit ) {
                    _this.addStep("Add " + quantity + "-" + unit + " of " + ingredient + ".");
                  },
                  boil: function ( time, unit ) {
                    _this.addStep("Boil for " + time + "-" + unit + ".");
                  },
                  putOnGas: function () {
                    _this.addStep("Put pot on Gas.");
                  },
                  removeFromGas: function () {
                    _this.addStep("Remove pot from Gas.");
                  },
                  pourTea: function () {
                    _this.addStep("Pour tea in cup(s).");
                  },
                }
              },
              gas: function gas () {
                var _this = this;
                return {
                  on: function () {
                    _this.addStep("Turn on Gas.");
                  },
                  off: function () {
                    _this.addStep("Turn off Gas.");
                  },
                  reduceFlame: function () {
                    _this.addStep("Reduced Gas flame.");
                  }
                }
              },
              mergeObjects: function (mainObject, objectToBeMergedInMain ) {
                for ( var i in objectToBeMergedInMain ) {
                  if ( typeof objectToBeMergedInMain[i] === 'object' ) {
                    for ( var j in objectToBeMergedInMain[i] ) {
                      mainObject[i][j] = objectToBeMergedInMain[i][j];
                    }
                  } else {
                    mainObject[i] = objectToBeMergedInMain[i];
                  }
                }
                return mainObject;
              }

            }
        })
    </script>
  </body>
</html>